@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(99, 202, 79, 0.233);
  color: #252B42;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: black;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  /*
    &::before{
      position: absolute;
      content: "select the game mode";
      text-transform: uppercase;
      bottom: 60%;
      left: 40%;
      font-size: 26px;
      font-weight: 900;
      color:rgb(223, 97, 24);
    }
  */
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0 0 15px;
}

/*============================================================================================================*/
.main-block__title {
  margin: 0 0 30px 0;
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
  font-size: 45px;
}

.main-title {
  display: flex;
  width: 600px;
  font-size: 34px;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px 240px;
}
.main-title__flag-block {
  display: flex;
  margin-right: 40px;
}
.main-title__timer-block {
  display: flex;
}

.main-field {
  display: flex;
}

.field {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(15, 27px);
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
  position: relative;
  z-index: 100;
  transition: all 0.6s;
}
.field_easy {
  outline: 18px solid rgba(126, 54, 54, 0.678);
  grid-template-columns: repeat(10, 40px);
}
.field_easy .fields__cell {
  height: 40px;
  font-size: 30px;
}
.field_normal {
  outline: 16px solid rgba(126, 54, 54, 0.678);
  grid-template-columns: repeat(15, 27px);
}
.field_normal .fields__cell {
  height: 27px;
  font-size: 22px;
}
.field_hard {
  outline: 13px solid rgba(126, 54, 54, 0.678);
  grid-template-columns: repeat(20, 23px);
}
.field_hard .fields__cell {
  height: 23px;
  font-size: 19px;
}

.fields__cell {
  cursor: pointer;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.field .fields__hover-class:hover {
  opacity: 0.5;
}

.end-game {
  text-align: center;
  font-size: 72;
  font-weight: 600;
  color: red;
  margin: -255px 0 0 0;
}

/*============================================================================================================*/
/* buttons config*/
.main-title__buttons {
  padding-right: 15px;
}

.buttons-config button {
  padding: 10px 17px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20%;
  background-color: rgba(99, 202, 79, 0.363);
}
.buttons-config button:hover {
  transform: scale(120%);
  text-decoration: underline;
  background-color: rgba(221, 22, 22, 0.76);
}

button {
  display: inline-block;
  margin-right: 10px;
}